* {
    font-family: "Lakki Reddy", serif;
}

body {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.todolist-container {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -16px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -10px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 652px;
}

.todolist {
    width: 300px;
  }

  .emoji {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Applica un'ombra */
}

.edit {
    color: #ffd700;
    background-color: white;
}

.save {
    color: green;
    background-color: white;
}

.delete {
    color: red;
    background-color: white;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox container */
  .checkbox-container {
    position: relative;
    display: inline-block;
    font-size: 18px; /* Make the checkbox slightly bigger */
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  /* Style the checkmark */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px; /* Make the checkbox slightly bigger */
    width: 30px; /* Make the checkbox slightly bigger */
    border: 2px solid lightgrey; /* Default color for the box */
    border-radius: 6px; /* Round the corners */ /* Default color for the box */
    transition: all 0.3s ease; /* Add smooth transition */
  }
  
  /* Show the checkmark when checkbox is checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
    animation: checkboxExpand 0.3s ease forwards;
  }
  
  /* Style the checkmark/indicator */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) rotate(45deg) scale(0); /* Center and hide initially, then scale to appear */
    width: 8px; /* Adjust size */
    height: 15px; /* Adjust size */
    border: solid #fff; /* Change color of the tick to white */
    border-width: 0 3px 3px 0; /* Adjust thickness and direction */
  }
  
  /* On hover, add a lighter blue background color */
  /* .checkbox-container:hover .checkmark {
  } */
  
  /* When the checkbox is checked, add a black background */
  .checkbox-container input:checked ~ .checkmark {
    border-color: #64f689; /* Change border color */
  }
  
  /* When the checkbox is checked, change the tick color to blue */
  .checkbox-container input:checked ~ .checkmark:after {
    border-color: #64f689; /* Change tick color to blue */
  }
  
  /* Keyframes for expanding animation */
  @keyframes checkboxExpand {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }

  .button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  rotate: 15deg;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
  width: 50px;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 50px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/* Input per inserire todo */
.write-todo {
    max-width: 190px;
    background-color: white;
    border: none;
    border-bottom: dotted;
    outline: none;
    color: black;
  }

  ::-webkit-input-placeholder {
    text-align: start;
  }

  :-moz-placeholder {
    text-align: start;
  }
  


  /* Button iniziale */
  .button-2 {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
    height: 65px;
    padding: 12px;
    border-radius: 15px 15px 12px 12px;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all .1s ease-in-out 0s;
    user-select: none;
    /* Add gradient shading to each side */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4),
      inset -4px -8px 0px rgba(0, 0, 0, 0.3),
      0px 2px 1px rgba(0, 0, 0, 0.3),
      0px 2px 1px rgba(255, 255, 255, 0.1);
    transform: perspective(70px) rotateX(5deg) rotateY(0deg);
  }
  
  .button-2::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    z-index: -1;
    border-radius: 15px;
    box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1),
      inset 4px -8px 0px rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in-out 0s;
  }
  
  .button-2::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px;
    transition: all .1s ease-in-out 0s;
  }
  
  .button-2:active {
    will-change: transform;
    transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
    height: 64px;
    border: 0.25px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2),
      inset -4px -6px 0px rgba(0, 0, 0, 0.8),
      0px 1px 0px rgba(0, 0, 0, 0.9),
      0px 1px 0px rgba(255, 255, 255, 0.2);
    transition: all .1s ease-in-out 0s;
  }
  
  .button-2::after:active {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
  }
  
  .button-2:active::before {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: overlay 0.1s ease-in-out 0s;
    pointer-events: none;
  }
  
  .button-2 svg {
    width: 15px;
    height: 15px;
  }
  
  @keyframes overlay {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .button-2:focus {
    outline: none;
  }

  .button-2:hover {
    background: var(--bg-color);
  }

  /* Layout iphone */

  .iphone-x {
    position: relative;
    z-index: 1;
    height: 694px;
    width: 342px;
  }
  
  .iphone-x .side {
    background: #1c1c1c;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9, 0px -1px 13px 9px rgba(255,255,255,0.8) inset;
    height: 694px;
    padding: 15px 22px;
    width: 342px;
    z-index: 1;
  }
  .iphone-x .screen {
    background:#000;
    background-position: center center;
    background-size: cover;
    border-radius: 33px;
    position: relative;
    height: 652px;
    width: 300px;
    margin-left: -1px;
    margin-top: 6px;
    z-index:198;
    overflow:hidden;
  }
  
  .iphone-x .line::after, .iphone-x .line::before {
    content: "";
    position: absolute;
    border: solid rgba(68, 68, 68, 0.25);
    border-width: 0 6px;
    height: 5px;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .iphone-x .line::after {
    top: 68px;
  }
  .iphone-x .line::before {
    bottom: 68px;
  }
  .iphone-x .header {
    background: #1c1c1c;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 24px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 15px;
    width: 164px;
    z-index: 199;
  }
  .iphone-x .sensor-1::after, .iphone-x .sensor-1::before {
    content: "";
    position: absolute;
  }
  .iphone-x .sensor-1::after {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 1%;
    margin-left: 10px;
    top: 3px;
  }
  .iphone-x .sensor-1::before {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 10%;
    margin-left: 20px;
    top: 3px;
  }
  .iphone-x .sensor-2::after, .iphone-x .sensor-2::before {
    content: "";
    position: absolute;
  }
  .iphone-x .sensor-2::before {
    background: #333;
    border-radius: 2.5px;
    height: 5px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    top: 7px;
  }
  .iphone-x .sensor-3::after, .iphone-x .sensor-3::before {
    content: "";
    position: absolute;
  }
  .iphone-x .sensor-3::before {
    background: #444;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 50%;
    margin-left: 35px;
    top: 3px;
    box-shadow:0px 0px 5px 2px navy inset
  }
  .iphone-x .sensor-3::after {
    background: #222;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    left: 65%;
    margin-left: 33px;
  }
  .iphone-x .volume-button {
    background: #c8cacb;
    height: 26px;
    left: -2px;
    position: absolute;
    top: 92px;
    width: 3px;
  }
  .iphone-x .volume-button::after, .iphone-x .volume-button::before {
    content: "";
    position: absolute;
    background: #c8cacb;
    height: 50px;
    left: 0;
    width: 3px;
  }
  .iphone-x .volume-button::after {
    top: 48px;
  }
  .iphone-x .volume-button::before {
    top: 112px;
  }
  .iphone-x .power-button {
    background: #c8cacb;
    height: 80px;
    right: -2px;
    position: absolute;
    top: 160px;
    width: 3px;
  }
  